.about-us {
  width: $width-mobile;

  @include margin-center;

  @include inner-padding();
  padding-top: 24px;
}

.about-us__heading {
  @include zero-indent;
}

.about-us__list {
  @include zero-indent;
}

@media (min-width: $width-tablet) {
  .about-us {
    width: $width-tablet;

    @include inner-padding(47px, 50px);
    padding-top: 50px;
    margin-bottom: 37px;
  }
}

@media (min-width: $width-desktop) {
  .about-us {
    width: $width-desktop;

    @include inner-padding(223px, 225px);
    padding-top: 57px;
    margin-bottom: 45px;
  }
}
