.about-us {
  @include zero-indent;
  @include outer-margin();
  padding-top: 24px;
}

.about-us__heading {
  @include zero-indent;
}

.about-us__list {
  @include zero-indent;
}

@media (min-width: $width-tablet) {
  .about-us {
    @include outer-margin(48px, 52px);
    padding-top: 50px;
    margin-bottom: 48px;
  }
}

@media (min-width: $width-desktop) {
  .about-us {
    @include outer-margin(223px, 225px);
    padding-top: 58px;
    margin-bottom: 53px;
  }
}
