.add-details__field {
  margin-top: 21px;
  border: 2px $black solid;
  padding-top: 16px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 16px;
}

.add-details__field:hover,
.add-details__field:focus {
  border: 2px solid $seafoam-blue-three;
}

.add-details__field:active,
.add-details__field:focus {
  color: $black;
}

@media (min-width: $width-tablet) {
  .add-details__field {
    margin-top: 50px;
    padding-top: 14px;
    padding-left: 15px;
    padding-bottom: 14px;
    height: 142px;
    //можно ли явно задавать высоту текстового поля??
  }
}
