.advantages {
  display: flex;
  flex-direction: column;


  @include font-properties-normal;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $black;
  text-align: left;
  list-style: none;
}

.advantages__item {
  width: 260px;
  @include zero-indent;
  padding-top: 85px;
  min-height: 129px;
  outline: 3px solid orange;
}

@media (min-width: $width-tablet) {
  .advantages {
    flex-direction: row;
    min-height: 450px;
    flex-wrap: wrap;

    font-size: 20px;
    line-height: 1.1;
  }

  .advantages__item {
    width: 293px;
    margin-right: 35px;

    &:nth-of-type(1) {
      order: 1;
    }
    &:nth-of-type(2) {
      order: 3;
    }
    &:nth-of-type(3) {
      order: 5;
    }
    &:nth-of-type(4) {
      order: 2;
    }
    &:nth-of-type(5) {
      order: 4;
    }
    &:nth-of-type(6) {
      order: 6;
    }
  }
}
