.author {
  @include zero-indent;
  @include margin-center;
  width: 182px;
  min-height: 80px;
}

.author__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;

  @include font-properties-normal;
  font-size: 19px;
  font-weight: bold;
  line-height: 0.95;
  color: $black;
}

.author__logo {
  fill: $seafoam-blue;
}

.author__link:hover .author__logo {
  fill: $greeny-blue;
}

.author__link:active {
  color: $black-03;
}

.author__link:active .author__logo {
  fill: $greeny-blue;
  opacity: 0.3;
}

@media (min-width: $width-tablet) {
  .author {
    @include zero-indent;
    margin-top: 32px;
  }
}
