.catalog__list {
  @include zero-indent;
  @include margin-center;
  list-style: none;
}

@media (min-width: $width-tablet) {
  .catalog {
    margin-top: 84px;
  }

  .catalog__item {
    margin-bottom: 52px;
  }
}

@media (min-width: $width-desktop) {
  .catalog {
    margin-top: 130px;
    margin-bottom: 67px;
  }

  .catalog__list {
    display: flex;
  }

  .catalog__item {
    width: 316px;
    margin-left: 50px;
  }
}
