.catalog {
  outline: 10px dotted blue;
}

.catalog__list {
  @include zero-indent;
  @include margin-center;
  list-style: none;
}

.catalog__item {
  outline: 5px dashed orange;
}

@media (min-width: $width-tablet) {
  .catalog {
    margin-top: 67px;
  }

  .catalog__item  {
    @include outer-margin (52px, 52px);
    margin-bottom: 52px;
  }
}

@media (min-width: $width-desktop) {
  .catalog {
    margin-top: 110px;
    margin-bottom: 67px;
  }

  .catalog__list {
    display: flex;
  }

  .catalog__item {
    width: 316px;
    margin-left: 50px;
  }
}
