.content {
  position: relative;
  min-height: 404px;
}

.content__description {
  @include zero-indent;
  margin-bottom: 17px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  color: $greyish-brown;
}

.content__info {
  border-collapse: collapse;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  color: $greyish-brown;
}

.content__line {
  border-bottom: 1px solid $lighter-grey;
}

.content__value {
  padding: 10px 20px 10px 30px;
}

.content__picture {
  @include zero-indent;
  margin-top: 28px;
  margin-bottom: 19px;
}

.content__price {
  @include zero-indent;
  @include margin-center;
  @include font-properties-normal;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $greyish-brown;
  text-align: center;
}

.content__button {
  margin-top: 25px;
}

@media (min-width: $width-tablet) {
  .content__picture {
    position: absolute;

    @include zero-indent;
    top: 8px;
    right: -377px;
    max-width: none;
    width: 333px;
    min-height: 404px;
  }

  .content__description {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 39px;
  }

  .content__info {
    margin-bottom: 56px;
  }

  .content__value {
    padding: 10px 57px 10px 30px;
  }

  .content__price {
    font-size: 20px;
    line-height: 1.2;
  }

  .content__button {
    margin-top: 33px;
  }
}

@media (min-width: $width-desktop) {
  .content__picture {
    position: absolute;

    width: 525px;
    height: 636px;
    object-fit: fill;
    z-index: -1;

    @include zero-indent;
    top: -160px;
    right: -585px;
  }

  .content__description {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 50px;
  }

  .content__info {
    margin-bottom: 110px;
  }
}
