.contacts {
  padding-top: 31px;
  padding-bottom: 39px;

//  &::before {
//    content: "";
//    display: block;
//    position: absolute;
//    z-index: 100;
//    width: 67px;
//    height: 100px;
//    top: 443px;
//    right: 127px;

//    background-image: url("../img/icon-map-pin.svg");
//    background-position: center;
//    background-repeat: no-repeat;
//  }
}

.contacts__heading {
  @include zero-indent;
  @include outer-margin;
  @include font-properties-normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: $black;
}

.contacts__info {
  @include outer-margin;
  margin-top: 0;
  margin-bottom: 33px;
  border-collapse: collapse;

  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  color: $greyish-brown;
}

.contacts__feature {
  width: 75px;
  padding-right: 25px;
  padding-top: 28px;
  vertical-align: top;
}

.contacts__value {
  padding-top: 28px;
}

.contacts__button {
  @include outer-margin(30px, 30px);
  width: auto;
  margin-top: 538px;
  margin-bottom: 39px;
}

.contacts__value--email a {
  display: inline-block;
  color: $greyish-brown;
  text-decoration: none;
  border-bottom: 1px solid $greeny-blue;
}

.contacts__value--email a:hover,
.contacts__value--email a:focus{
  color: $greeny-blue;
}

.contacts__value--email a:active {
  color: $greeny-blue;
  opacity: 0.3;
}

.contacts__map {
  position: absolute;
  top: 3185px;
  left: 0;
  width: 100%;
  height: auto;
}

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.contacts iframe {
  position: relative;
  width: 100vw;
  min-width: $width-mobile;
  top:0;
  left: 0;
  z-index: 2;
  border: none;
}

@media (min-width: $width-tablet) {
  .contacts {
    padding-top: 30px;
    padding-bottom: 57px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 47px;
      height: 81px;
      top: 2686px;
      right: 53px;

      background-image: url("../img/icon-flag.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

//    &::before {
//      right: 350px;
//    }
  }

  .contacts__map {
    top: 2946px;
    left: 0;
  }

  .contacts__map img {
    width: 768px;
    height: auto;
  }

  .contacts iframe {
    width: 100vw;
    height: 457px;
  }

  .contacts__heading {
    margin-top: 31px;
    padding-left: 16px;

    font-size: 43px;
    line-height: 1.16;
  }

  .contacts__info {
    margin-top: -12px;
    margin-bottom: 58px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.76;
  }

  .contacts__info tbody {
    display: inline-block;
    margin-left: 15px;
  }

  .contacts__info tr {
    display: inline-block;
    width: 310px;
    margin-right: 24px;
  }

  .contacts__info td {
    display: inline-block;
  }

  .contacts__feature {
    width: 80px;
    text-align: left;
    vertical-align: top;
  }

  .contacts__value--email,
  .contacts__feature--email {
    padding-top: 0;
    vertical-align: top;
  }

  .contacts__value--address,
  .contacts__feature--address {
    margin-top: 34px;
  }

  .contacts__value {
    width: 225px;
  }

  .contacts__button {
    width: 230px;
    margin-top: 564px;
    margin-bottom: 0;

    @include margin-center;
  }
}

@media (min-width: $width-desktop) {
  .contacts {
    @include outer-margin(51px, 52px);
    position: relative;
    min-height: 457px;
    width: 500px;
    padding-top: 36px;
    padding-bottom: 0;

    &::after {
      top: 133px;
      right: 392px;
    }

//    &::before {
//      right: -320px;
//      top: 215px;
//    }
  }

  .contacts__heading {
    margin-left: 155px;
    margin-top: 105px;
    font-size: 53px;
    line-height: 1.08;
  }

  .contacts__info {
    margin-left: 170px;
    margin-top: 47px;
    margin-bottom: 82px;
  }

  .contacts__info tbody {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .contacts__value--address,
  .contacts__feature--address {
    margin-top: 0;
  }

  .contacts__map {
    position: absolute;
    top: 72px;

    left: 547px;
    max-width: none;
    width: 525px;
    height: 457px;
  }

  .contacts iframe {
    width: 525px;
    height: 457px;
  }

  .contacts__map img {
    width: 525px;
    height: auto;
  }

  .contacts__button {
    margin-top: 0;
    margin-right: 0;
    margin-left: 175px;
    margin-bottom: 105px;
  }
}
