.email {
  outline: 1px grey solid;
}

.email__field {
  margin-top: 7px;
  margin-bottom: 32px;
  width: 100%;
  padding-right: 40px;
}

@media (min-width: $width-tablet) {
  .email {
    background-color: $grey;
  }

  .email__field {
    background-color: inherit;
    margin-bottom: 50px;
    padding-left: 18px;
  }
}
