.email {
  width: 100%;
}

.email__wrapper {
  width: $width-mobile;
  @include margin-center;
  @include inner-padding;
  position: relative;
}

.email__field {
  margin-top: 7px;
  margin-bottom: 32px;
  width: 100%;
  padding-right: 40px;
  position: relative;

  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 224px center;
}

.email__field:hover,
.email__field:focus,
.email__field:active {
  background-image: url("../img/icon-mail-hover.svg");
}

@media (min-width: $width-tablet) {
  .email {
    background-color: $grey;
  }

  .email__wrapper {
    width: $width-tablet;
    @include margin-center;
    @include inner-padding(217px, 50px);
  }

  .email legend {
    top: 29px;
  }

  .email__field {
    background-color: transparent;
    margin-bottom: 50px;
    padding-left: 18px;
    padding-right: 60px;

    background-position: 447px center;
  }
}

@media (min-width: $width-desktop) {
  .email__wrapper {
    width: $width-desktop;
    @include inner-padding(225px, 225px);
  }

  .email__field {
    background-position: 664px center;
  }
}
