.interraction__field {
  @include zero-indent;
  border: none;

  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  color: $black;
}

.interraction__field ul {
  list-style: none;
}

.interraction__legend {
  position: relative;
  display: block;
  width: 100%;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $seafoam-blue;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    display: block;

    width: 198px;
    height: 1px;
    top: 7px;
    right: 0;
    background-color: $seafoam-blue;
  }
}

.interraction__legend--short-line {
  &::after {
    width: 179px;
  }
}

.interraction__obligatory {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: $greyish-brown;
  margin-bottom: 30px;
}

@media (min-width: $width-tablet) {
  .interraction__field {
    @include inner-padding(217px, 50px);
    position: relative;
    font-size: 19px;
    line-height: 18px;
  }

  .interraction__legend {
    position: absolute;
    left: 50px;
    top: 69px;

    &::after {
      display: none;
    }
  }

  .interraction__wrapper {
    @include outer-margin(50px, 51px);
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .interraction__button {
    @include inner-padding(32px, 31px);
    width: auto;
  }

  .interraction__obligatory {
    @include zero-indent;
    align-self: center;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $width-desktop) {
  .interraction__field {
    @include inner-padding(225px, 225px);
  }

  .interraction__legend {
    position: absolute;
    left: 110px;
    top: 69px;

    &::after {
      display: none;
    }
  }

  .interraction__wrapper {
    @include outer-margin(225px, 225px);
    margin-top: 48px;
  }
}
