.main-nav {
  position: relative;

  @include font-properties-normal;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $black;
  outline: 3px solid red;
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  left: 210px;
}

.main-nav__list {
  @include zero-indent;
}


@media (min-width: $width-tablet) {
  .main-nav {
    font-size: 15px;
    line-height: 1.6;
  }

  .main-nav__toggle {
    display: none;
  }
}
