.main-nav {
  position: relative;

  @include font17-bold;
  line-height: 1.41;
  color: #000000;
  outline: 3px solid red;
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  left: 210px;
}

.main-nav__list {
  @include zero-indent;
}
