.mishka-products__list {
  @include zero-indent;
}

.mishka-products__item {
  display: block;

  @include zero-indent;

  &:first-child {
    background-color: $seafoam-blue;
  }

  &:last-child {
    background-color: $aqua-marine;
  }

  list-style: none;
}

.mishka-products__link { //добавить активные состояния и иконки
  @include zero-indent;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 185px;

  @include font-properties-normal;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-decoration: none;
  color: $white;
}

@media (min-width: $width-tablet) {
  .mishka-products {
    @include outer-margin(52px, 52px);
  }

  .mishka-products__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mishka-products__link {
    padding-right: 203px;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $width-desktop) {
  .mishka-products__link {
    padding-right: 395px;
  }
}
