.modal {
  display: block;
  position: absolute;

  @include inner-padding;
  width: 320px;
  min-height: 336px;
  background-color: $white;
  box-shadow: 0 5px 10px 0 $dark-forest-green;
  border: solid 1px $pinkish-grey;

  font-size: 15px;
  font-weight: normal;
  line-height: 2;
}

.modal__heading {
  display: block;

  @include margin-center;
  margin-top: 30px;

  @include font-properties-normal;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.modal__fieldset {
  @include zero-indent;
  margin-bottom: 31px;
  border: none;
}

.modal__command {
  @include zero-indent;
  margin-bottom: 38px;
  text-align: center;
  color: $greyish-brown;
}

.modal__label {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 48px;
  line-height: 52px;
  text-align: center;
  margin-left: 4px;
}

.modal__label input[type="radio"]+.modal__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 52px;
  border: 2px solid $greyish-brown-01;
}

.modal__label input[type="radio"]:hover+.modal__checkbox,
.modal__label input[type="radio"]:focus+.modal__checkbox {
  border: 2px solid $greyish-brown-03;
}

.modal__label input[type="radio"]:checked+.modal__checkbox,
.modal__label input[type="radio"]:active+.modal__checkbox {
  border: 2px solid $seafoam-blue;
}

@media (min-width: $width-tablet) {
  .modal {
    width: 566px;
    left: 50%;
    margin-left: -283px;

    @include inner-padding(107px, 107px);
    font-size: 17px;
    font-weight: normal;
    line-height: 1.76;
  }

  .modal__heading {
    margin-top: 47px;
  }

  .modal__label {
    position: relative;
    display: inline-block;
    width: 108px;
    height: 48px;
    line-height: 52px;
    text-align: center;
    margin-left: 4px;
  }

  .modal__label input[type="radio"]+.modal__checkbox {
    width: 112px;
  }
}

@media (min-width: $width-desktop) {
  .modal {
    width: 566px;
    top: 1114px;
    left: 50%;
    margin-left: -283px;

    @include inner-padding(107px, 107px);
  }
}
