.page-header {
  width: $width-mobile;

  @include margin-center;
}

@media (min-width: $width-tablet) {
  .page-header {
    width: $width-tablet;
    margin-bottom: -63px;
  }
}

@media (min-width: $width-desktop) {
  .page-header {
    width: $width-desktop;
  }
}
