.page-footer {
  width: $width-mobile;

  @include margin-center;
  @include inner-padding;
  background-color: $grey;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-image {
  display: block;

  @include margin-center;
}

.page-footer__logo:hover .page-footer__logo-image,
.page-footer__logo:focus .page-footer__logo-image {
  fill: $greeny-blue;
}

.page-footer__logo:active .page-footer__logo-image {
  fill: $greeny-blue;
  opacity: 0.3;
}

.page-footer__list {
  @include zero-indent;
  display: block;
  margin-right: 62px;
  margin-left: 57px;
  min-height: 80px;
  border-bottom: 1px solid $lighter-grey;
  list-style: none;
}

.page-footer__copyright {
  display: block;
}

@media (min-width: $width-tablet) {
  .page-footer {
    width: $width-tablet;
    display: flex;
    justify-content: space-between;


    @include inner-padding (52px, 52px);
    min-height: 143px;
  }

  .page-footer__logo {
    display: block;
    margin-top: 50px;
  }

  .page-footer__list {
    @include zero-indent;
    border-bottom: none;
  }
}

@media (min-width: $width-desktop) {
  .page-footer {
    width: $width-desktop;
  }
}
