.page-footer {
  width: $width-mobile;
  box-sizing: border-box;
  @include inner-padding;
  background-color: #f1f1f1;
}

.page-footer__list {
  @include zero-indent;
  display: block;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
  list-style: none;
}

.page-footer__copyright {
    display: block;
    min-height: 80px;
}
