.page-main {
  width: $width-mobile;

  @include margin-center;
  padding-top: 76px;

  @include font-properties-normal;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  color: $black;
  outline: 2px dashed fuchsia;

  background-image: url('../img/hero-mobile@1x.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

.page-main__heading {
  width: 260px;

  @include margin-center;
  margin-bottom: 120px;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .page-main {
    width: $width-tablet;
    padding-top: 60px;

    background-position: 0 -100px;
  }

  .page-main__heading {
    width: 520px;
    margin-bottom: 374px;
  }
}

@media (min-width: $width-desktop) {
  .page-main {
    width: $width-desktop;
    padding-top: 55px;
  }

  .page-main__heading {
    width: 650px;
    margin-bottom: 355px;
  }
}
