.page-main {
  width: $width-mobile;

  @include margin-center;
  @include font-properties-normal;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  color: $black;
  border-top: 1px solid $lighter-grey;
}

.page-main__heading {
  @include zero-indent;
  @include inner-padding();
  padding-top: 70px;
  padding-bottom: 126px;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .page-main {
    width: $width-tablet;
  }

  .page-main__heading {
    @include inner-padding(125px, 125px);
    padding-top: 150px;
    padding-bottom: 493px;
  }
}

@media (min-width: $width-desktop) {
  .page-main {
    width: $width-desktop;
  }
}
