.page-order {
  width: 100vw;
  padding-bottom: 53px;
}

.page-order__suggestion {
  width: $width-mobile;

  @include zero-indent;
  @include margin-center;
  @include inner-padding;
  @include font-properties-normal;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: $greyish-brown;
  margin-top: 24px;
  margin-bottom: 25px;
}

.page-order__form-wrapper {
  width: 100%;
}


@media (min-width: $width-tablet) {
  .page-order {
    padding-bottom: 50px;
  }

  .page-order__suggestion {
    width: $width-tablet;

    @include margin-center;
    @include inner-padding(51px, 100px);
    margin-top: 77px;
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    color: $greyish-brown;
  }

  .page-order__form-wrapper {
    width: 100%;
  }
}

@media (min-width: $width-desktop) {
  .page-order__suggestion {
    width: $width-desktop;

    @include inner-padding(225px, 240px);
    margin-top: 124px;
    margin-bottom: 5px;
  }

  .page-order__form-wrapper {
    width: 100%;
  }
}
