.page-catalog {
  width: $width-mobile;

  @include margin-center;
}

@media (min-width: $width-tablet) {
  .page-catalog {
    width: $width-tablet;
  }
}

@media (min-width: $width-desktop) {
  .page-catalog {
    width: $width-desktop;
  }
}
