.page-main {
  width: $width-mobile;

  @include margin-center;
  padding-top: 76px;

  @include font-properties-normal;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  color: $black;
  outline: 10px dashed fuchsia;
}

.page-main__heading {
  width: 244px;

  @include margin-center;
  text-align: center;
  outline: 3px solid  blue;
}

@media (min-width: $width-tablet) {
  .page-main {
    width: $width-tablet;
    padding-top: 161px;
  }

  .page-main__heading {
    width: 498px;
  }
}

@media (min-width: $width-desktop) {
  .page-main {
    width: $width-desktop;
  }

  .page-main__heading {
    width: 650px;
    margin-bottom: 354px;
  }
}
