.page-order {
  @include mobile-style;
  padding-bottom: 55px;
  outline: 5px solid blue;
}

.page-order__heading {}

.page-order__suggestion {
  @include outer-margin;

  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

.page-order__form-wrapper {
  @include outer-margin;
}
