.page-footer {
  width: $width-mobile;

  @include margin-center;
  @include inner-padding;
  background-color: $grey;
  outline: 3px solid red;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-image {
  display: block;

  @include margin-center;
}

.page-footer__list {
  @include zero-indent;
  display: block;
  margin-right: 62px;
  margin-left: 57px;
  min-height: 80px;
  border-bottom: 1px solid $lighter-grey;
  list-style: none;
}

.page-footer__copyright {
  display: block;
  min-height: 80px;
}

@media (min-width: $width-tablet) {
  .page-footer {
    width: $width-tablet;
    display: flex;
    align-items: center;
    min-height: 143px;
  }
  .page-footer__logo {
    display: block;
  }
}

@media (min-width: $width-desktop) {
  .page-footer {
    width: $width-desktop;
  }

}
