.phone {
  width: 100%;
}

.phone__wrapper {
  width: $width-mobile;
  @include margin-center;
  @include inner-padding;
  position: relative;
}

.phone__field {
  margin-top: 6px;
  margin-bottom: 32px;
  width: 100%;
  padding-right: 40px;
  position: relative;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 227px center;
}

.phone__field:hover,
.phone__field:focus,
.phone__field:active {
  background-image: url("../img/icon-phone-hover.svg");
}

@media (min-width: $width-tablet) {
  .phone {
    background-color: $grey;
  }

  .phone__wrapper {
    width: $width-tablet;
    @include margin-center;
    @include inner-padding(217px, 50px);
  }

  .phone__field {
    margin-top: 51px;
    margin-bottom: 17px;
    padding-left: 17px;
    padding-right: 60px;
    background-color: inherit;
    background-image: url("../img/icon-phone.svg");
    background-position: 450px center;
  }
}

@media (min-width: $width-desktop) {
  .phone__wrapper {
    width: $width-desktop;
    @include inner-padding(225px, 225px);
  }

  .phone__field {
    background-position: 664px center;
  }
}
