.product {
  @include inner-padding(28px, 28px);
}

.product__photo {
  display: block;
}

.product__name {
  @include zero-indent;
  display: block;
  padding-top: 32px;

  @include font-properties-normal;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $black;
  text-decoration: none;
}

.product__description {
  @include font-properties-normal;
  font-size: 13px;
  font-weight: normal;
  line-height: 2.31;
  color: $greyish-brown;
}

.product__price {
  border-top: 1px solid $lighter-grey;
  padding-top: 27px;
  padding-bottom: 30px;
}


@media (min-width: $width-tablet) {
  .product {
    display: flex;
  }

  .product__photo {
    margin-right: 26px;
  }

  .product__photo img {
    min-width: 334px;
    min-height: 334px;
  }
}

@media (min-width: $width-desktop) {
  .product {
    display: block;
    @include zero-indent;
    margin-left: 52px;
  }

  .product__photo img {
    min-width: 316px;
    min-height: 462px;
  }
}
