.promo {
  @include zero-indent;
  @include outer-margin();
  margin-bottom: 36px;
}

.promo__wrapper-heading {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  margin-bottom: 30px;
}

.promo__heading {
  @include zero-indent;
}

.promo__item {
  @include zero-indent;
  padding-top: 8px;

  @include font-properties-normal;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $seafoam-blue;
  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .promo {
    margin: 0;
    @include inner-padding(52px, 52px);
    margin-bottom: 53px;

    padding-top: 45px;
  }

  .promo__wrapper-heading {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 55px;
  }

  .promo__item {
    width: 70px;
    margin-right: 28px;
    align-self: center;
    text-align: center;
    line-height: 1;
  }

  .promo__content {
    width: 292px;
  }
}

@media (min-width: $width-desktop) {
  .promo {
    margin-bottom: 73px;
  }

  .promo__wrapper-heading {
    width: 650px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 122px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .promo__content {
    width: 292px;
    margin-left: 175px;
  }
}
