.site-list {
  list-style: none;
}

.site-list__item {
  display: block;

  border-bottom: 1px solid $lighter-grey;
}

.site-list__link {
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 76px;
  color: $black;
  text-decoration: none;
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
    justify-content: flex-start;
    width: 455px;
  }

  .site-list__item {
    @include zero-indent;
  }

  .site-list__link {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 52px;
  }
}

@media (min-width: $width-desktop) {
  .site-list {
    display: flex;
    width: 500px;
    border-bottom: 1px solid $lighter-grey;
  }

  .site-list__item {
    @include zero-indent;
  }

  .site-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .site-list__item:nth-of-type(1) .site-list__link{
    padding-left: 50px;
    padding-right: 35px;
    border-right: 1px solid $lighter-grey;
  }

  .site-list__item:nth-of-type(2) .site-list__link{
    padding-left: 35px;
  }
}
