.site-list {
  list-style: none;
}

.site-list__item {
  display: block;

  box-shadow: 0 1px 0 0 $lighter-grey;
}

.site-list__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 76px;
  color: $black;
  text-decoration: none;
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
    justify-content: space-around;
  }

  .site-list__item {
    @include zero-indent;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .site-list__item {
    &:nth-of-type(3),
    &:nth-of-type(4), {
      margin-top: -100px;
    }
  }
}

@media (min-width: $width-desktop) {
  .site-list {
    display: flex;
    margin-top: -100px;
    justify-content: flex-start;
  }

  .site-list__item {
    @include zero-indent;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 88px;
  }

  .site-list__item {
    &:nth-of-type(1),
    &:nth-of-type(2), {
      width: 234px;
    }
  }

  .site-list__item {
    &:nth-of-type(3),
    &:nth-of-type(4), {
      margin-top: 0px;
    }
  }

  .site-list__item {
    &:nth-of-type(3) {
      margin-top: 0px;
      margin-left: 500px;
    }
  }
}
