.site-list {
  list-style: none;
}

.site-list__item {
  display: block;
}

.site-list__link {
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 76px;
  color: $black;
  text-decoration: none;
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
    justify-content: flex-start;
    background-color: transparent; //не работает
  }

  .site-list__item {
    @include zero-indent;
  }

  .site-list__link {
    @include zero-indent;
    padding-top: 18px;
    padding-bottom: 24px;
    margin-right: 37px;
  }
}

@media (min-width: $width-desktop) {
  .site-list {
    display: flex;
    width: auto;
  }

  .site-list__item {
    @include zero-indent;
  }

  .site-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .site-list__item:nth-of-type(1) .site-list__link{
    padding-right: 35px;
    margin-right: 0;
    border-right: 1px solid $lighter-grey;
  }

  .site-list__item:nth-of-type(2) .site-list__link{
    padding-left: 35px;
  }
}
