.type {
  outline: red 1px solid;
}

.type__list {
  @include zero-indent;
  margin-top: 25px;
  margin-bottom: 30px;
}

.type__option {
  padding-left: 62px;
  margin-bottom: 20px;
  min-height: 40px;
}

@media (min-width: $width-tablet) {
  .type__list {
    margin-top: 50px;
    margin-bottom: 48px;
  }

  .type__option {
    padding-left: 80px;
    padding-top: 15px;
    margin-bottom: 23px;;
    min-height: 53px;
    outline: 1px solid pink;
  }
}
