.user-list {
  list-style: none;
}

.user-list__item {
  display: block;
}

.user-list__link {
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 76px;
  color: $black;
  text-decoration: none;
}

@media (min-width: $width-tablet) {
  .user-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 88px;

    font-size: 17px;
    font-weight: bold;
    line-height: 1.41;
  }

  .user-list__item {
    @include zero-indent;
    position: relative;
  }

  .user-list__item:nth-of-type(1) .user-list__link {
    display: block;
    width: 80px;
    min-height: 88px;
    @include zero-indent;
    font-size: 0;


//добавить активные состояния (заинлайнить?)
    background-image: url('../img/icon-search.svg');
    background-position: center;
    background-repeat: no-repeat;

    border-left: 1px solid $lighter-grey;
    border-right: 1px solid $lighter-grey;
  }

  .user-list__item:nth-of-type(2) .user-list__link {
    @include zero-indent;

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 83px;

    &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 18px;
      left: 31px;
//добавить активные состояния (заинлайнить?)
      background-image: url('../img/icon-cart.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $width-desktop) {
  .user-list {
    display: flex;
    width: auto;
    justify-content: flex-end;

  }

}
