.user-list {
  list-style: none;
  display: none;
}

.user-list__item {
  display: block;
}

.user-list__link {
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 76px;
  color: $black;
  text-decoration: none;
}

.user-list__item:nth-of-type(1) .user-list__link {
  background-image: url("../img/icon-search.svg");
  background-position: 40px center;
  background-repeat: no-repeat; // как задать прозрачность только иконке?
}

@media (min-width: $width-tablet) {
  .user-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 88px;

    font-size: 17px;
    font-weight: bold;
    line-height: 1.41;
  }

  .user-list__item {
    @include zero-indent;
    position: relative;
  }

  .user-list__item:nth-of-type(1) {
    border-left: 1px solid $lighter-grey;
    border-right: 1px solid $lighter-grey;
  }

  .user-list__item:nth-of-type(1) .user-list__link {
    display: block;
    width: 80px;
    min-height: 88px;

    @include zero-indent;
    font-size: 0;

    background-image: url("../img/icon-search.svg"); //удалить  - дублируется
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  .user-list__item:nth-of-type(1) .user-list__link:hover,
  .user-list__item:nth-of-type(1) .user-list__link:active {
    background-image: url("../img/icon-search-hover.svg");
    opacity: 1;
  }

  .user-list__item:nth-of-type(1) .user-list__link:disabled {
    background-image: url("../img/icon-search-hover.svg");
    opacity: 0.2;
  }

  .user-list__item:nth-of-type(2) .user-list__link {
    @include zero-indent;

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 83px;

    &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 18px;
      left: 31px;

      background-image: url("../img/icon-cart.svg");
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.2;
    }
  }

  .user-list__item:nth-of-type(2) .user-list__link:hover,
  .user-list__item:nth-of-type(2) .user-list__link:active {
    color: $black-06;

    &::before {
      background-image: url("../img/icon-cart-hover.svg");
      opacity: 1;
    }
  }

  .user-list__item:nth-of-type(2) .user-list__link:disabled {
    color: $black-03;

    &::before {
      background-image: url("../img/icon-cart-hover.svg");
      opacity: 0.2;
    }
  }
}

@media (min-width: $width-desktop) {
  .user-list {
    display: flex;
    width: auto;
    justify-content: flex-end;
  }
}
