.wave-line {
  display: block;
  width: $width-mobile;
  @include margin-center;
  min-height: 10px;
  background-repeat: repeat-x;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: center;
  background-size: 90%;
}

@media (min-width: $width-tablet) {
  .wave-line {
    width: $width-tablet;
    @include margin-center;
    min-height: 15px;
  }
}

@media (min-width: $width-desktop) {
  .wave-line {
    width: 1050px;
    @include margin-center;
    min-height: 23px;
    background-size: 100%;
  }
}
