.wave {
  display: none;
  position: absolute;
  z-index: 2;
  top: 823px;
  width: 100%;
  background-repeat: repeat-x;
  background-image: url("../img/bg-zigzag-fill.svg");
}

@media (min-width: $width-tablet) {
  .wave {
    display: block;
    height: 24px;
    left: 35px;
    background-size: 100%;
  }
}

@media (min-width: $width-desktop) {
  .wave {
    top: 817px;
    height: 34px;
    left: 35px;
    background-size: 100%;
  }
}
