.wave {
  display: none;
  position: absolute;
  z-index: 2;

  background-repeat: repeat-x;
  background-image: url("../img/bg-zigzag-fill.svg");

  &--index {
    top: 820px;
  }

  &--catalog {
    top: 294px;
  }
}

@media (min-width: $width-tablet) {
  .wave {
    display: block;
    height: 24px;
    width: 100vw;
  }
}

@media (min-width: $width-desktop) {
  .wave {
    height: 34px;
    width: 100vw;

    &--index {
      top: 817px;
    }

    &--catalog {
      top: 320px;
    }
  }
}
