@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
}


html {
  font-family: "Open Sans", "Arial", sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
}
