$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$seafoam-blue: #63d1bb;
$green-back: #59d5bc;
$greeny-blue: #46c1ae;
$aqua-marine: #56c3b2;
$pinkish-grey: #c6c6c6;
$black: #000000;
$greyish-black: #010000;
$white: #ffffff;
$white-03: rgba(255, 255, 255, 0.3);
$grey: #f1f1f1;
$lighter-grey: #ececec;
$grey-bg: rgb(240, 240, 240);
$greyish-brown: #444444;
$greyish-brown-03: rgba(68, 68, 68, 0.3);
$dark-forest-green: rgba(0, 1, 1, 0.25);
$black-06: rgba(0, 0, 0, 0.6);
$black-03: rgba(0, 0, 0, 0.3);
