$width-mobile: 320px;
$width-tablet: 772px;
$width-desktop: 1150px;

//colors
$seafoam-blue: #63d1bb;
$green-back: #59d5bc;
$greeeny-blue: #46c1ae;
$aqua-marine: #56c3b2;
$pinkish-grey: #c6c6c6;
$black: #000000;
$greyish-black: #010000;
$white: #ffffff;
$grey: #f1f1f1;
$lighter-grey: #ececec;
$greyish-brown: #444444;
$dark-forest-green: rgba(0, 1, 1, 0.25);
